@import 'styles/Variables';

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: unset;
  text-transform: uppercase;
  padding: 1.75rem 5rem;
  font-size: 1.25rem;
  appearance: none;
  font-weight: $font-weight-bold;
  background-color: var(--color-primary);
  color: var(--color-black);

  &:hover,
  &:focus {
    color: var(--color-tertiary);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
